.contant4_nav_wrap {
  border: 1px solid transparent;
  background-color: #ce93be;
  top: 0;
}

.contant4_nav_ul {
  margin-top: 30px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contant4_nav_ul li {
  border-right: 1px solid #a7a5a5;
  width: 100%;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.contant4_nav_ul li:hover {
  background-color: beige;
}

/*건물형태*/
.contant4_nav_box0,
.contant4_nav_box1,
.contant4_nav_box2,
.contant4_nav_box3 {
  background-color: #ce93be;
  padding: 1px;
  max-width: 640px;
  min-width: 360px;
  width: 100%;
  display: none;
}

.contant4_nav_box0 ul {
  background-color: #f4f3f3;
  margin: 30px auto;
  width: 60%;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 20px;
  gap: 30px;
}

.contant4_nav_box1 ul {
  background-color: white;
}

.contant4_nav_box0 ul li {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.contant4_nav_box0 ul li:hover {
  background-color: beige;
}

/*매물종류*/

.contant4_nav_box1 ul,
.contant4_nav_box3 ul {
  background-color: #f4f3f3;
  margin: 60px auto;
  width: 60%;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
}

.contant4_nav_box1 ul li,
.contant4_nav_box3 ul li {
  border-right: 1px solid #a7a5a5;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  font-size: 1.2em;
}

.contant4_nav_box1 ul li:last-child,
.contant4_nav_box3 ul li:last-child {
  border: none;
}

/*보증금*/

.contant4_nav_box2_inner {
  text-align: center;
  background-color: #f4f3f3;
  width: 60%;
  margin: 30px auto;
  border-radius: 30px;
  padding: 1px 15px 20px 10px;
}

.contant4_nav_box2_inner h4 {
  text-align: end;
  padding: 0px;
}

.contant4_nav_box2_inner input[type="range"] {
  margin-bottom: 30px;
  width: 70%;
}

.contant4_nav_box2_btn_wrap button:first-child {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 15px;
  margin-right: 10px;
  border-radius: 20px;
}

.contant4_nav_box2_btn_wrap button:last-child {
  background-color: #7b7b7b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
}

.contant4_condition {
  width: 60%;
  margin: 30px auto;
  background-color: #f4f3f3;
  padding: 30px;
  border-radius: 30px;
}

/*javasctipt*/
.show {
  display: block;
}

.contant4_nav_box2_inner span {
  font-size: 1.1em;
  margin-right: 10px;
}
