.check-inner {
  text-align: center;
}

.check-inner > div:first-child {
  background-color: #ce93be;
  padding: 1px;
}

.menu-wrap {
}

.menu-inner {
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.menu-inner li {
  border-right: 1px solid #d4d4d4;
  padding: 20px 0;
  flex-shrink: 0;
  flex-grow: 1;
  transition: 0.2s;
}

.menu-inner li:last-child {
  border: none;
}

.menu-inner li:hover {
  background-color: #efefef;
}

.condition {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*다세대 주택 탭*/
.building-type,
.contract,
.deposit,
.monthly,
.room {
  border-radius: 20px;
  padding: 30px;
  background-color: #f4f3f3;
  position: absolute;
  display: none;
  width: 80%;
}

.building-type ul,
.contract ul,
.room ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.building-type ul li,
.contract ul li,
.room ul li,
.user-select li {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.building-type ul li:hover,
.contract ul li:hover,
.room ul li:hover {
  background-color: #ce93be;
  color: white;
}

/*보증금 및 월세금*/

.btn-wrap button {
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  transition: 0.2s;
}

.btn-wrap button:hover {
  filter: brightness(0.9);
}

.btn-wrap button:first-child {
  background-color: white;
}

.btn-wrap button:last-child {
  background-color: #7b7b7b;
  color: white;
  margin-left: 30px;
}

.deposit-inner,
.monthly-inner {
  text-align: center;
}

.deposit-inner h4,
.monthly-inner h4 {
  text-align: start;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/*포인터 스타일*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ffffff;
  border: 0.5px solid #969696;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translateY(-5px);
}

/*바 스타일*/
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: #481b58;
  border-radius: 1.3px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #481b58;
}

.show {
  display: block;
}

/* 사용자가 선택한 조건*/

.user-select {
  width: 80%;
  margin: 20px auto;
  border-radius: 20px;
  background-color: #f4f3f3;
  padding: 30px;
  display: flex;
  word-break: keep-all;
  flex-wrap: wrap;
  gap: 15px;
}

.product-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: start;
}

.filter-btn {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #ce93be;
  color: #ffffff;
}
