@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*전체 wrap*/

.wrap {
  max-width: 640px;
  min-width: 360px;
  border: 1px solid black;
  padding: 10px;
}

/*맨 위 mav_bar*/

.first_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #940dff;
  color: #ffffff;
  padding: 2px;
  font-family: "Marvel", sans-serif;
}

.logo {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.second-nav {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}

.second-nav ul {
  display: flex;
  justify-content: center;
  color: #33004b;
  background: #ffffff;
  padding: 0 10px;
  height: 100%;
  line-height: 54px;
  position: relative;
}

.second-nav ul li {
  margin-right: 70px;
}

.under_bar {
  width: 40px;
  height: 0px;
  border: 3px solid #000000;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.second-nav ul li:last-child {
  margin-right: 0;
}

.second-nav ul li a {
  font-size: 20px;
}

/*스와이퍼 슬라이드*/
.content1 h2 {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 16px;
}

.slide_wrap {
  margin: 5px auto;
  overflow: hidden;
  text-align: center;
  width: 90%;
  height: 150px;
}

.slide_wrap ul {
  display: flex;
  height: 150px;
  transition: 0.5s;
}

.slide_wrap > ul > li {
  width: 100%;
}

.dott_wrap {
  border: 1px solid red;
  text-align: center;
}

.dott_wrap > li {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #a8a4a4;
}

/* .color_change {
  background-color: #1f1f1f;
} 보류 */

/*main content1*/

.content1_title {
  display: flex;
  align-items: center;
  margin: 10px auto;
  border: 1px solid red;
}

.content1_title i {
  font-size: 20px;
}

.content1_title p {
  font-size: 13px;
  font-weight: 900;
  text-align: center;
  color: #787878;
  margin-left: 8px;
}

.keyword_wrap {
  border: 1px solid red;
}
